@font-face {
  font-family: DejaVu Sans Mono;
  src: url(/fonts/dejavusansmono.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DejaVu Sans Mono;
  src: url(/fonts/dejavusansmono-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
