<div id="image">LOADING IMAGE</div>
<div id="message">
    Loading
</div>
<script>
    enum SuccessParam {
        SUCCESS = "grant_success", 
        ERROR = "grant_error",
        REJECTED = "grant_rejected",
        INVALID = "grant_invalid"
    }

    const searchParams = new URL(document.location.href).searchParams;
    const d = document.querySelector("#message") as HTMLDivElement;
    const di = document.querySelector("#image") as HTMLDivElement;
    const result = searchParams.get('result') as SuccessParam;

    switch(result) {
        case SuccessParam.SUCCESS:
            d.textContent = "Grant success";
            di.textContent = "success image";
            break;
        case SuccessParam.ERROR:
            d.textContent = "Something went wrong. Please try again";
            di.textContent = "error image"
            break;
        case SuccessParam.REJECTED:
            d.textContent = "Grant rejected. To keep paying connect your wallet."
            di.textContent = "rejected image"
            break;
        case SuccessParam.INVALID:
            d.textContent = "Grant was invalid"
            di.textContent = "testimage"
            break;
        default:
            break; 
    }
</script>
